.form-details {
    border: solid 2px;
    border-radius: 50px;
}

.cash {
    max-width: 220px;
}

.custom-textarea {
    border: none;
    background-color: transparent;
    color: inherit;
    resize: none;
    padding: 0;

    margin: 0;
}

.custom-textarea::placeholder {
    color: #888;
}

.form-1 {
    font-weight: bold;
}

.container h2 {
    text-align: center;
}

.images {
    max-width: 850px;
}

.arcata {
    border: solid 2px;
    border-radius: 50px;
}

.container h4 {
    font-weight: bold;
    text-align: center;
    padding-right: 15px;
    display: inline-flex;
    padding-left: 15px;

}